* {

    margin: 0;
    padding: 0;

}

body {

    font-family: "iranyekanwebregular", Arial, Helvetica, sans-serif;

}

header {

    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: auto;
    padding: 21px 0 7px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    transition: all 0.3s ease;
    border-bottom: 1px solid #eff0f1;


}

.logo {

    margin: 11px 28px;
}

.header-ul {

    display: flex;
    list-style: none;

}

.header-ul li {

    font-size: 14px;
    margin: 0 15px;

}

.more-menu {

    display: flex;

}

.header-ul li a {

    color: #303030;
    text-decoration: none;
    cursor: pointer;

}

.header-ul li img {

    width: 8px;
    margin-right: 8px;

}

.header-ul>li:last-child a {

    margin-right: 20px;
    color: #28457b;
    background-color: rgba(232, 239, 254, 0.6);
    padding: 10px 27px;
    border-radius: 20px;
    font-family: YekanBakhBold;

}

.header-ul>li:last-child a:hover {

    background-color: #fbf6d9;

}

.hamburger-icon {

    display: none;
    width: 27px;
}

.cross-icon {

    text-align: left;
    padding: 25px 0;
    width: 100%;

}

.cross-icon img {

    margin-left: 30px;
    width: 20px;

}

.hamburger-menu-items {

    padding: 10px 30px;

}

.hamburger-menu-items ul {

    list-style: none;

}

.hamburger-menu-items a {

    text-decoration: none;
    color: black;
    display: inline-block;
    padding: 3px 0px;

}

.hamburger-menu-items div {

    width: 90%;
    height: 1px;
    background-color: #dfe1e4;
    margin: 8px;

}

.hamburger-menu {

    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 100%;
    z-index: 100;
    font-family: iranyekanwebmedium;
    transform: translateY(-100%);


}

.more-item {

    display: flex;
    background-color: #eee;
    padding: 20px 50px;
    align-items: center;

}

.more-item img {

    width: 15px;
    margin-right: 5px;

}

.more-item a {

    text-decoration: none;
    color: #28457b;
    font-size: 0.85rem;

}

.show-hamburger-menu {

    animation: fadeInDown 0.25s forwards;

}

@keyframes fadeInDown {

    0% {

        opacity: 0;
        transform: translateY(-100%);

    }

    100% {

        opacity: 1;
        transform: translateY(0);

    }

}

#show-more-menu {

    position: relative;

}

#show-more-menu ul {

    position: absolute;
    top: 0;
    left: -35px;
    background-color: white;
    border-top: 5px solid #f8e88b;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 23px;
    list-style: none;
    width: 140px;
    display: none;
    box-shadow: 0 20px 40px 0 rgba(36, 39, 51, .15);

}

#show-more-menu li {

    margin: 0;
    padding: 10px 20px;
    font-size: 0.8rem;
    color: black;

}

#show-more-menu li:hover {


    background-color: rgba(232, 239, 254, 0.6);

}

#show-product-menu {

    position: relative;

}

.product-menu {

    display: none;
    position: absolute;
    top: 0;
    left: -135px;
    justify-content: flex-start;
    background-color: white;
    border-top: 5px solid #f8e88b;
    border-radius: 12px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 23px;
    width: 372px;
    box-shadow: 0 20px 40px 0 rgba(36, 39, 51, .15);

}

.product-menu a p:first-child {

    color: black;
    font-size: 0.95rem;

}

.product-menu a p:last-child {

    color: black;
    font-size: 0.7rem;

}

.product-menu a {

    margin: 10px;
    display: block;
    padding: 10px;
    border-radius: 5px;

}

.product-menu a:hover {

    background-color: rgba(232, 239, 254, 0.6);

}

.banner {

    width: 1050px;
    padding: 124px 60px 80px;
    display: flex;
    margin: 20px auto;
    border-radius: 20px;
    background-image: linear-gradient(135deg, #21254e, #2b4a83);
    justify-content: space-between;

}

.banner-text {

    color: white;

}

.banner-text h3 {

    font-family: YekanBakhHeavy;
    font-size: 2rem;

}

.banner-text p {

    line-height: 2.5rem;
    margin: 25px 0;
    font-size: 1.15rem;

}

.banner-image img {

    width: 500px;

}

.banner-button {

    margin-top: 60px;

}

.register {


    font-family: YekanBakhBold;
    padding: 6px 14px;
    color: black;
    font-size: 1rem;
    background-color: #ffd900;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    text-decoration: none;

}

.login {

    font-family: YekanBakhBold;
    padding: 6px 14px;
    color: white;
    font-size: 1rem;
    background-color: #435a8a;
    border-radius: 10px;
    border: none;
    text-decoration: none;

}

.go-down {

    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.go-down div {

    top: 300px;
    background-image: url(../images/arrowbottom.svg);
    width: 164px;
    height: 78px;
    position: relative;
    top: -59px;

}

.go-down img {

    width: 15px;
    position: relative;
    top: -117px;

}

@keyframes showUp {

    0% {

        opacity: 0;

    }

    100% {

        opacity: 1;

    }

}

.online-payment {

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
    width: 1170px;

}

.section-image {

    width: 450px;
    height: 480px;

}

.section-text {

    margin: 30px 0;
    width: 530px;

}

.section-text h2 {

    font-weight: 500;
    font-size: 1.4rem;
    font-family: YekanBakhMedium;
    color: #747480;
    margin: 20px 0 5px;

}

.section-text h3 {

    font-family: YekanBakhHeavy;
    margin-top: 20px;
    color: #303030;
    font-size: 2rem;
    font-weight: 600;
    margin: 5px 0 10px;

}

.section-text p {

    margin-top: 16px;
    line-height: 40px;
    text-align: justify;
    padding-bottom: 20px;
    font-family: YekanBakhMedium;
    border-bottom: 1px solid #dfe1e4;

}

.section-links {

    display: flex;
    margin-top: 40px;

}

.section-links .first-button {

    padding: 8px 12px;
    background-color: #ffd900;
    font-family: iranyekanwebmedium;
    font-size: 0.9rem;
    border: none;
    border-radius: 10px;
    padding: 6px 14px;
    margin-left: 10px;
    text-decoration: none;
    color: black;

}

.section-links .second-button {

    font-family: iranyekanwebmedium;
    font-size: 0.9rem;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    padding: 6px 14px;
    background-color: rgba(232, 239, 254, .6);
    color: #28457b;
    display: flex;
    align-items: center;

}

.section-links .second-button img {

    width: 18px;
    height: 15px;
    margin-right: 5px;

}

.social-image {

    width: 680px;
    height: 530px;
    margin-left: -60px;

}

.attributes {

    display: flex;
    width: 1170px;
    margin: auto;
    justify-content: space-between;


}

.definition {

    width: 35%;
    margin-top: 50px;

}

.items {

    width: 60%;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}


.items .item {

    padding: 18px 25px 20px 0;

}

.items h4 {

    font-size: 1.5rem;
    font-family: YekanBakhHeavy;
    margin-right: 20px;

}

.items p {


    margin: 20px 0 20px 10px;
    font-size: 1rem;
    font-family: YekanBakhMedium;
    line-height: 36px;
    color: #303030;

}

.first-item {

    border-left: 1px solid #e0e4e7;


}

.second-item {

    border-bottom: 1px solid #e0e4e7;

}

.third-item {

    border-top: 1px solid #e0e4e7;


}

.fourth-item {

    border-right: 1px solid #e0e4e7;


}

.items .item div {

    display: flex;
    align-items: center;

}

.item img {

    width: 60px;
    height: 60px;

}

.definition h3 {

    font-family: YekanBakhBold;
    font-size: 2rem;

}

.definition p {

    width: 85%;
    margin-top: 40px;
    line-height: 40px;
    font-family: YekanBakhMedium;
    text-align: justify;
    font-size: 1rem;

}

.start-box {

    width: 1170px;
    height: 220px;
    margin: auto;
    margin-top: 59px;
    border: 1px solid silver;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.start-box h4 {

    font-family: YekanBakhHeavy;
    font-size: 1.7rem;

}

.start-box p {

    font-family: YekanBakhMedium;
    font-size: 1.4rem;
    color: #747480;
    margin-top: 10px;

}

.start-box a {

    margin-top: 10px;
    text-decoration: none;
    font-family: iranyekanwebmedium;
    font-size: 0.9rem;
    min-height: 28px;
    line-height: 28px;
    padding: 4px 14px;
    background-color: #ffd900;
    color: #000;
    border-radius: 10px;


}

.support {


    width: 1110px;
    height: 70px;
    padding: 0 30px;
    background-color: #fbf6f1;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;

}

.support-number {

    font-family: YekanBakhHeavy;
    font-size: 1.5rem;

}

#line {

    margin: 0 15px;

}

#phone-number {

    color: #21254e;

}

.support-request a {

    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: YekanBakhBold;
    color: #21254e;
    font-size: 1.5rem;

}

.support-request a img {

    width: 20px;
    margin-right: 10px;

}

footer {

    display: flex;
    justify-content: space-between;
    width: 1170px;
    margin: 0 auto;

}

.footer-links {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: calc(100% - 330px);
    margin-bottom: 50px;
    padding: 0 10px;

}

.footer-links ul {

    list-style: none;

}

.footer-links ul a {

    text-decoration: none;
    font-size: 1rem;
    font-family: iranyekanwebmedium;
    color: #000;

}

.footer-links li {

    padding: 8px 0;

}

.footer-links p {

    font-size: 1.3rem;
    font-family: YekanBakhHeavy;
    margin-bottom: 15px;
    color: #303030;

}

.footer-links p:hover {

    cursor: pointer;
    color: #2a3280;

}

.social-media {

    width: 330px;
    padding: 0 30px;
    margin-bottom: 100px;

}

.social-media p {

    font-family: YekanBakhHeavy;
    font-size: 1.3rem;
    color: #303030;

}

.social-media div {

    display: flex;
    margin-top: 20px;

}

.social-media a {

    background-color: #eff4fe;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 15px;

}

.bell {

    width: fit-content;
   background-color: #2e82f1;
   padding: 7px 7px 0;
   border-radius: 50%;
    position: fixed;
    left:  20px;
    bottom: 20px;

}

.bell img{

 width: 40px;

}

@media (max-width:1200px) {

    header {

        width: 940px;

    }

    .banner {

        width: 900px;
        padding: 60px 40px 120px;

    }

    .banner-image img {

        width: 430px;

    }

    .online-payment {

        width: 940px;

    }

    .zarinplus,
    .zarincard {

        padding-left: 60px;

    }

    .payout {

        padding-right: 60px;

    }

    .definition {

        width: 100%;
        margin-top: 40px;

    }

    .definition p {

        width: 100%;
        margin-top: 30px;

    }

    .attributes {

        width: 924px;
        padding: 0 8px;
        flex-direction: column;

    }

    .first-item,
    .second-item,
    .third-item,
    .fourth-item {


        border: none;
    }

    .items {

        width: 90%;
        padding: 30px;

    }

    .items .item {

        padding: 18px 0 20px 50px;

    }

    .start-box {

        width: 940px;

    }

    .support {

        width: 880px;

    }

    footer {

        width: 940px;

    }


}

@media (max-width:990px) {

    header {

        width: auto;
        padding: 20px 60px;

    }

    .header-ul li:last-child {

        display: none;
    }

    .logo {

        margin: 0;

    }

    .header-ul li {

        margin: 0 10px;

    }

    .banner {

        width: auto;
        padding: 40px 40px 85px;
        margin-left: 35px;
        margin-right: 35px;

    }

    .banner-image img {

        display: none;

    }

    .banner-text {

        text-align: center;
        font-size: 1rem;

    }

    .banner-text p {

        margin: 5px 0;

    }

    .banner-button {

        margin-top: 40px;

    }

    .online-payment {

        width: auto;
        flex-direction: column;
        align-items: center;

    }

    .section-text {

        width: 95%;

    }

    .social,
    .section-payout {

        display: flex;
        flex-direction: column-reverse;

    }

    .online-payment .payout {

        margin: 0 auto;
        padding-right: 0;


    }

    .online-payment .social-image {

        margin: 0 auto;

    }

    .online-payment .zarinplus,
    .online-payment .zarincard {

        margin: 0 auto;
        padding-left: 0;

    }

    .attributes {

        width: auto;
        padding: 0 35px;

    }

    .start-box {

        margin: 0 38px;
        width: calc(100% - 76px);

    }

    .support {

        width: calc(100% - 120px);

    }

    .support-request a,
    .support-number {

        font-size: 1.2rem;

    }

    footer {

        flex-direction: column;
        width: calc(100% - 60px);

    }

    .footer-links {

        width: 100%;

    }

    .social-media {

        padding: 0 10px;

    }

}

@media (max-width: 768px) {

    .header-ul {

        display: none;

    }

    .hamburger-icon {

        display: block;

    }

    header {

        width: auto;
        padding: 10px 8px;

    }

    .banner {

        margin-left: 8px;
        margin-right: 8px;

    }

    .section-text {

        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .online-payment img {

        width: 460px;
        height: 480px;

    }

    .social-image {

        margin: 0 auto;

    }

    .definition {

        text-align: center;
        margin-top: 90px;

    }

    .definition h3 {

        font-size: 1.6rem;

    }

    .items {

        width: 100%;
        padding: 50px 0;

    }

    .items .item {

        padding: 18px 0 20px 20px;

    }

    .start-box {

        margin: 0 8px;
        width: calc(100% - 16px);

    }

    .support {


        flex-direction: column;
        align-items: flex-start;
        background: none;

    }

    .support-request {

        background-color: #fbf6f1;
        padding: 5px 20px;
        border-radius: 35px;
        margin-top: 20px;

    }

    .footer-links {

        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .footer-links div {

        margin-top: 25px;

    }

    footer {

        width: calc(100% - 120px);
        margin: 0 60px;

    }

}

@media (max-width: 575px) {

    .banner {

        padding: 80px 40px;

    }

    .banner-text h3 {

        font-size: 1.2rem;
        text-align: right;

    }

    .banner-text p {

        text-align: justify;

    }

    .online-payment .section-image {

        display: none;

    }

    .section-text {

        width: 80%;
        padding: 0 10px;

    }

    .section-text h3 {

        font-size: 1.5rem;

    }

    .items {


        grid-template-columns: 1fr;
        padding: 50px 0;

    }

    .items .item {

        padding: 18px 0;
    }

    .start-box {

        height: 180p;

    }


    .start-box h4 {


        font-size: 1.2rem;

    }

    .start-box p {


        font-size: 1rem;

    }

    .support {


        width: calc(100% - 60px);
        padding: 0;
        margin: 50px 30px;

    }


    .support-number {

        font-size: 0.95rem;

    }

    .support-request a {

        font-size: 0.95rem;

    }

    footer {

        width: calc(100% - 60px);
        margin: 0 30px;

    }

    .footer-links p {

        font-size: 0.9rem;

    }

    .footer-links div a {

        font-size: 0.9rem;

    }

    .social-media {

        margin: 0 auto;

    }

}